@import 'tailwindcss';
@import './styles/themes/serika-dark.css';
@import './styles/themes/chaos-theory.css';

@theme inline {
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-error: var(--error);
  --color-error-strong: var(--error-strong);
}
